.header {
  background-color: $color-primary;
  position: absolute;
  width: 96%;
  padding: 2rem;

  .header-name {
    float: left;
  }

  .header-links {
    float: right;

    .header-links-roster, .header-links-history, .header-links-allTime {
      margin-right: 1em;
    }
  }
}