body {
  font-family: "Lato", "Helvetica", sans-serif;
  line-height: 1.5;
}

.roster-table {
  color: $color-tertiary;
}

.header {
  &-name {
    color: $color-tertiary;
  }

  &-links-roster, &-links-history, &-links-allTime {
    color: $color-tertiary;
    text-decoration: none;
    text-transform: uppercase;  
  }
}
